**Convert class object to JSON in python**

In [1]:
import json

class Person:
    def __init__(self, name , age):
        self.name = name
        self.age = age

p1 = Person("Madhu", 30)

In [2]:
res = json.dumps(p1.__dict__)
print(res)

{"name": "Madhu", "age": 30}

**Convert JSON data into a custom python object**

In [5]:
from collections import namedtuple

data = '{"name" : "Geeks", "id" : "1", "location" : "Mumbai"}'
x = json.loads(data, object_hook = lambda d: namedtuple('X', d.keys())(*d.values()))

print(x.name, x.id, x.location)

Geeks 1 Mumbai

**Flattening JSON object in Python**

In [6]:
unflat_json = {'user':
               {'Rachel':
                {'UserID': 1717171717,
                 'Email': 'rachel1999@gmail.com',
                 'friends': ['John', 'Jeremy', 'Emily']
                 }
                }
               }

In [8]:
def flatten_json(y):
    out = {}
    def flatten(x, name=''):
        if type(x) is dict:
            for a in x:
                flatten(x[a], name + a + '_')
        elif type(x) is list:
            i = 0
            for a in x:
                flatten(a, name + str(i) + '_')
                i += 1
        else:
            out[name[:-1]] = x
    flatten(y)
    return out

In [9]:
print(flatten_json(unflat_json))

{'user_Rachel_UserID': 1717171717, 'user_Rachel_Email': 'rachel1999@gmail.com', 'user_Rachel_friends_0': 'John', 'user_Rachel_friends_1': 'Jeremy', 'user_Rachel_friends_2': 'Emily'}