In [1]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-17-2020.csv')

In [2]:
print(data)

       Province/State  Country/Region          Last Update  Confirmed  Deaths  \
0               Hubei           China  2020-03-17T11:53:10      67799    3111
1                 NaN           Italy  2020-03-17T18:33:02      31506    2503
2                 NaN            Iran  2020-03-17T15:13:09      16169     988
3                 NaN           Spain  2020-03-17T20:53:02      11748     533
4                 NaN         Germany  2020-03-17T18:53:02       9257      24
..                ...             ...                  ...        ...     ...
307             Wales  United Kingdom  2020-03-17T11:53:10          0       5
308               NaN           Nauru  2020-03-17T11:53:10          0       0
309              Niue     New Zealand  2020-03-17T11:53:10          0       0
310               NaN          Tuvalu  2020-03-17T11:53:10          0       0
311  Pitcairn Islands  United Kingdom  2020-03-17T11:53:10          0       0

     Recovered  Latitude  Longitude
0        56003   30.9756   112.2707
1         2941   41.8719    12.5674
2         5389   32.4279    53.6880
3         1028   40.4637    -3.7492
4           67   51.1657    10.4515
..         ...       ...        ...
307          0   52.1307    -3.7837
308          0   -0.5228   166.9315
309          0  -19.0544  -169.8672
310          0   -7.1095   177.6493
311          0  -24.3768  -128.3242

[312 rows x 8 columns]

In [4]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312 entries, 0 to 311
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  154 non-null    object
 1   Country/Region  312 non-null    object
 2   Last Update     312 non-null    object
 3   Confirmed       312 non-null    int64
 4   Deaths          312 non-null    int64
 5   Recovered       312 non-null    int64
 6   Latitude        309 non-null    float64
 7   Longitude       309 non-null    float64
dtypes: float64(2), int64(3), object(3)
memory usage: 19.6+ KB
None

In [5]:
print("Missing data information: ")
print(data.isna().sum())

Missing data information:
Province/State    158
Country/Region      0
Last Update         0
Confirmed           0
Deaths              0
Recovered           0
Latitude            3
Longitude           3
dtype: int64